@font-application {
    font-family: 'nokiafc22';
    src: url('/Users/gabrielesquibel/Desktop/PORTY/2d/src/assets/nokiafc22.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}