@font-face {
    font-family: 'nokiafc22';
    src: url('./assets/nokiafc22.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'nokiafc22', sans-serif;
    background-color: #f2feff; /* #7BA583;*/
  }
  
  #root {
    height: 100%;
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: Left;
    justify-content: center;
  }
  
  .about-item {
    width: 70%; /* Third of the size */
    height: auto;
    opacity: 0;
    transform: translateX(-100%); /* Start off-screen */
    transition: opacity 0.5s ease-in-out;
  }
  
  .about-item.visible {
    animation: slideInLeft 0.5s forwards; /* Slide in and make visible */
  }