@font-face {
    font-family: 'nokiafc22';
    src: url('./assets/nokiafc22.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 20px;
    min-height: 120vh;
    
  }
  
  .text-bubble {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: sans-serif !important;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: #a7c1d3; /* Light cyan background */
    padding: 15px 20px;
    border-radius: 25px;
    position: relative;
    width: fit-content;
    max-width: 80%;
    text-align: left;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-bubble.visible {
    opacity: 1;
  }
  
  .text-bubble::after {
    content: '';
    position: absolute;
    bottom: -15px; /* Adjust position based on your preference */
    left: 20px; /* Position the tail on the left side */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #e0f7fa; /* Same as the background color of the bubble */
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
  }
  