@font-face {
  font-family: 'nokiafc22';
  src: url('./assets/nokiafc22.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family:  sans-serif;
  background-image: url('./assets/BabyGabby.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  padding-top: 10vh;
  background-position: center calc(0vh);
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
}

.container { 
  min-height:200vh;
  width: 100%;
}

.row-spacing {
  margin-bottom: 100rem; /* Adjust the spacing as needed */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(60, 63, 58);
  font-family: 'nokiafc22', sans-serif;
}

/* Container holding the image and possibly other content */
.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 500px; /* Adjust based on your needs */
  background-size: cover;
  background-color: #f2feff; /* #7BA583;*/
}

.myImage {
  width: 130%;
  height: auto; /* Corrected from 0 to auto for maintaining aspect ratio */
  background-color: #f2feff; /* #7BA583;*/
}

.normal-image {
  width: 10px; /* Adjust this value to your desired width */
  height: auto; /* Maintains the aspect ratio */
}
