.Home {
    height: 100%;

    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @keyframes openText {
    0% {color:rgba(255, 193, 205);}
    25% {color:rgb(255, 255, 255);}
    50% {color:rgba(255, 193, 205);}
    100% {color:rgb(255, 255, 255);}
  }
  .text-animation {
    animation-name: openText;
    animation-duration: 4s; /* Adjust the speed as needed */
    animation-iteration-count: infinite; /* Repeat the animation indefinitely */
    animation-direction: alternate; /* Makes the animation reverse direction */
  }

  .Welcome {
    font-family: 'nokiafc22', sans-serif;
    animation-name: openText;
    animation-duration: 4s;
  }
  
  .App-header {
    
    min-height: 10vh; /* Adjust as needed to reduce blank space */
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    font-family: 'nokiafc22', sans-serif;
    z-index: 10; /* Ensure it stays above the image */
    position: relative;
  }
  
  .image-container {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center; /* Center the image horizontally if needed */
    position: relative; /* Ensure it stays in the document flow */
    top: 0; /* Adjust as needed */
    height:auto;
  }
  
  .image-container img {
    width: 50%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    mix-blend-mode:multiply;
    opacity: 0;
  }
  