.Home {
    height: 100%;
    background-color: #f2feff; /*#8c9f8f*/
  }
  @keyframes openText {
    0% {color:rgb(78, 114, 95);}
    25% {color:rgb(36, 51, 43);}
    50% {color:rgb(78, 114, 95);}
    100% {color:rgb(36, 51, 43);}
  }

  .Welcome {
    font-family: 'nokiafc22', sans-serif;
    animation-name: openText;
    animation-duration: 4s;

  }
  
  .App-header {
    background-color: #f2feff; /*#8c9f8f*/
    min-height: 10vh; /* Adjust as needed to reduce blank space */
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(36, 51, 43);
    font-family: 'nokiafc22', sans-serif;
    z-index: 10; /* Ensure it stays above the image */
    position: relative;
  }
  
  .image-container {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center; /* Center the image horizontally if needed */
    position: relative; /* Ensure it stays in the document flow */
    top: 0; /* Adjust as needed */
    height:auto;
  }
  
  .image-container img {
    width: 50%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
  