nav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  max-width: 500px;
  max-height: 12%;
  
  z-index: 1000; /* Ensure it stays on top of other content */
  display: flex;
  justify-content: center;
  margin-left: 25%;
  border-radius: 30px;
  margin-bottom: 5% 
}
nav ul {
  list-style: none;
  display: flex;
  padding: 10px;
  margin: 0;
  margin-bottom: 10%;
}

nav ul li {
  margin: 0 10px; /* Space between items */
}

nav ul li img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  cursor: pointer; /* Makes the image clickable */
}

nav ul li img:hover {
  opacity: 0.8; /* Add a hover effect */
}
